.root{
    margin: 20px;
}

.userContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
    gap: 1;
    align-items: center;
    margin: 10px 0;
}

.btnDetails a:link, .btnDetails a:visited{
    background-color: #191919;
    text-decoration: none;
    color: white;
    width: 8rem;
    padding: 14px 10px;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: #F3EEEC;
    border-radius:  24px;
}

.btnDetails a:hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transform: scale(1.03);
    animation: pulse();
}

li{
    list-style-type:none;  
}

.name{
    color: white;
    font-size: 1.3em;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-decoration: underline;
}
